<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>450232465476-e4a3hebjt1m8rmhk3dqttmjqjc746qli.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.450232465476-e4a3hebjt1m8rmhk3dqttmjqjc746qli</string>
	<key>API_KEY</key>
	<string>AIzaSyA5iwGhxT7xKeNtlbhjuqP7WdcqE0M4iNk</string>
	<key>GCM_SENDER_ID</key>
	<string>450232465476</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.billyfromohio.signalApp</string>
	<key>PROJECT_ID</key>
	<string>signalapp-67d9a</string>
	<key>STORAGE_BUCKET</key>
	<string>signalapp-67d9a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:450232465476:ios:bd5f6f392a1c5510d3a411</string>
</dict>
</plist>